.team-container {
  background-image: linear-gradient(#a4261d, #1e293b);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teamLogo {
  height: 200px;
  margin-top: 25px;
}
.match-container {
  background-color: #0f172a;
  width: 40%;
  padding: 20px;
  margin-top: 15px;
}
.recent-match {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
